h1{

	border-width: 3px;
	border-width: 3px 10px;
	border-width: 3px 10px 20px;
	border-width: 3px 10px 20px 10px;


	border-style: none, dotted, dashed, solid, double, groove
	,ridge,inset, outset, hidden	

}

div{
	width: 100px;
	height: 50px;
	padding: 10px;
	margin: 5px;
	border: 1px solid black;

}

/* Absolute -set to a specific size
	- px, mm, cm, pt,...

	